@model IEnumerable<Dictionary1WebApp.Models.Word>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
   
    <tbody>

        <div class="container text-center">
            <div class="row">
                @foreach (var item in Model) {
        <div class="card word-card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title"> @Html.DisplayFor(modelItem => item.Addword)</h2>
                <h5 class="card-text">@Html.DisplayFor(modelItem => item.WordDefinition)</h5>
            </div>

            <div class="card-body">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>}
            </div>
        </div>
    </tbody>
</table>
