<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dictionary1WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
   
    <style>
        nav ul li {
            padding: 0 10px;
        }
    </style>
</head>

<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <header>


        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3 fixed-top" >
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dictionary Web App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <form asp-controller="Words" asp-action="ShowSearchResults">
                <label for="SearchPhrase" class="control-label">
                    <input name="SearchPhrase" class="form-control" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                </label>
            </form>


            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="text-decoration:solid">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Words" asp-action="ShowSearchWords">🔍SEARCH BY FORM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Words" asp-action="Create">➕ADD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Words" asp-action="Index">WORDS</a>
                    </li>

                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LANGUAGES
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Words" asp-action="Language">English</a>
                                <a class="dropdown-item" href="#">Kannada</a>
                                <a class="dropdown-item" href="#">Hindi</a>
                            </div>
                        </div>
                    </li>


                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2022 - Dictionary1WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            <ion-icon name="logo-twitter"></ion-icon>

            <ion-icon name="logo-instagram"></ion-icon>

            <ion-icon name="logo-facebook"></ion-icon>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



